@import "tailwindcss";
@theme {
  --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}

body {
  font-family: "Rubik Variable", sans-serif;
  @apply w-full bg-neutral-900 text-white;
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.scroll-hidden {
  scrollbar-width: none;
  & ::-webkit-scrollbar {
    display: none;
  }
}

.animate-pulsing {
  animation: pulsing 1.5s infinite;
}
@keyframes pulsing {
  0% {
    left: -100%;
  }
  100% {
    left: 200%;
  }
}
.scroll-custom {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.1);
    height: 50px;
    border-radius: 100px;
    border: solid 4px transparent;
  }
  &::-webkit-scrollbar-thumb:hover {
    border: solid 3px transparent;
  }
}

@keyframes fadeIn {
  0% {
    visibility: invisible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: invisible;
    opacity: 0;
  }
}

@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.animate-border-search::after {
  border: 8px solid;
  content: "";
  position: absolute;
  inset: -1rem;
  filter: blur(20px);
  animation: border-search linear 5s infinite;
  pointer-events: none;
  border-image: conic-gradient(from var(--a), white, black, white) 1;
}

@keyframes border-search {
  from {
    --a: 0turn;
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  to {
    --a: 1turn;
    opacity: 50%;
  }
}

@keyframes modal-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes modal-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes overlay-in {
  0% {
    visibility: invisible;
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(12px);
  }
}
@keyframes overlay-out {
  0% {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(12px);
    pointer-events: none;
  }
  100% {
    visibility: invisible;
    opacity: 0;
    backdrop-filter: blur(0px);
    pointer-events: none;
  }
}
